@{
    string controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    string action = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower();
    bool connected = Session["CurrentUser"] != null;
    string dataModel = controller == "students" ? "Étudiant" : "Cours";
}
<div id="header">
    <img src="/Logo-Lionel-Groulx.png" class="appLogo" alt="" title="Gestionnaire de favoris">

    @switch (action)
    {
        case "index":
            switch (controller)
            {
                case "students":
                    <div class="actionTitle">
                        <b>Étudiants</b> |
                        <a href="/Courses/index" class="unselected" title="Voir la liste des cours">Cours</a> |
                        <a href="/Teachers/index" class="unselected" title="Voir la liste des enseignants">Profs</a>
                    </div>
                    break;
                case "courses":
                    <div class="actionTitle">
                        <a href="/Students/index" class="unselected" title="Voir la liste des étudiants">Étudiants</a> |
                        <b>Cours</b> |
                        <a href="/Teachers/index" class="unselected" title="Voir la liste des enseignants">Profs</a>
                    </div>
                    break;
                case "teachers":
                    <div class="actionTitle">
                        <a href="/Students/index" class="unselected" title="Voir la liste des étudiants">Étudiants</a> |
                        <a href="/Courses/index" class="unselected" title="Voir la liste des cours">Cours</a> |
                        <b>Profs</b>
                    </div>
                    break;
            }
            <div class="menu-icon-layout">
                <a href="/@controller/Create" class="cmdIcon fa fa-plus" title="Ajouter un @dataModel"></a>
                <a href="/@controller/ToogleSearch" class="cmdIcon fa fa-search" title="Afficher/Masquer la barre de recherche"></a>

                <div class="dropdown">
                    <div data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="cmdIcon fa fa-ellipsis-vertical"></i>
                    </div>
                    <div class="dropdown-menu noselect">
                        @if (!connected)
                        {
                            <div class="dropdown-item">
                                <a href="/Accounts/Login" class="noDecoration">
                                    <i class="menuIcon fa fa-sign-in mx-2"></i> Connexion...
                                </a>
                            </div>
                        }
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-item">
                            <a href="/Home/About" class="noDecoration">
                                <i class="menuIcon fa fa-info-circle mx-2"></i> À propos...
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            break;
        case "details":
            <div class="actionTitle"> @dataModel - Détails </div>
            <div class="menu-icon-layout">
                <a href="/@controller/Edit" class="cmdIcon fa fa-edit" title="Modifier"></a>
                <i class="cmdIcon fa fa-trash"
                   title="Effacer"
                   onclick="bootbox.confirm('Effacer?', function(result){ if (result) window.location = '/@controller/Delete'; })">
                </i>
                <a href="/@controller/index" class="cmdIcon fa fa-times" title="Annuler"></a>
            </div>
            break;
        case "create":
            <div class="actionTitle"> @dataModel - Ajout </div>
            <div class="menu-icon-layout">
                <i class="cmdIcon submitCmd fa fa-check" title="Soumettre"></i>
                <a href="/@controller/index" class="cmdIcon fa fa-times" title="Annuler"></a>
            </div>
            break;
        case "edit":
            <div class="actionTitle"> @dataModel - Modification </div>
            <div class="menu-icon-layout">
                <i class="cmdIcon submitCmd fa fa-check" title="Soumettre"></i>
                <a href="/@controller/details/@Session["id"]" class="cmdIcon fa fa-times" title="Annuler"></a>
            </div>
            break;
        case "about":
            <div class="actionTitle">À propos </div>
            <div class="menu-icon-layout">
                <a href="/Students/index" class="cmdIcon fa fa-times" title="Fermer"></a>
            </div>
            break;
    }
</div>

