.CourseListLayout {
    height: 32px;
    align-items: center;
    font-size: larger;
    cursor: pointer;
    padding-left: 6px;
    border-radius: 6px;
    font-family: 'Times New Roman';

}

    .CourseListLayout a {
        text-decoration: none;
        color: black;
    }

    .CourseListLayout:hover {
        background-color: azure;
    }

    .CourseListLayout .icon {
        display: none !important;
    }

    .CourseListLayout:hover .icon {
        display: block !important;
    }

.courseCode {
    font-family:Consolas;
    color: blue;
}

div2{
    border:1px solid blue;
}
