.TeacherListLayout {
    display: grid;
    grid-template-columns: auto auto;
    height: 30px;
    align-items: center;
    font-size: larger;
    cursor: pointer;
    padding-left: 6px;
    border-radius: 6px;
    font-family: 'Times New Roman';
}

    .TeacherListLayout a {
        text-decoration: none;
        color: black;
    }

    .TeacherListLayout:hover {
        background-color: azure;
    }

    .TeacherListLayout .icon {
        display: none !important;
    }

    .TeacherListLayout:hover .icon {
        display: block !important;
    }

.teacherCode {
    color: blue;
    font-family:Consolas;
    font-size:16px;
}
